.btn {
	display: flex;
	justify-content: center;
	align-items: center;

	height: rem($mn * 1.6);

	padding: 0 rem($mn);
	border: 1px solid;
	border-radius: 4px;
}

.btn--cta {
	color: $blue-dark;
	border-color:$blue-dark;
}

.btn--ghost {
	color: $white;
}
